*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scrollbar-color: #F5F3F4 #161A1D;
}

/* COLORES A USAR 

#0B090A
#161A1D
#660708
#A4161A
#BA181B
#E5383B
#B1A7A6
#D3D3D3
#F5F3F4
#FFFFFF
*/

:root {
    --bordo: #660708;
    --crema: #F5F3F4;
    --rojosuave: #A4161A;
    --negro: #0B090A;
    --negroclaro: #161A1D;
    --gris: #B1A7A6;
}


header {
    background-color:#F5F3F4 ;
    width: 100%;

}
header figure {
    margin: 0;
    padding: 0;
}
header figure a{
    height: 100%;
    display: inline-block;
}
header figure img {
    height: 70px;
    width: 70px;
}
nav {
    padding: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    padding: 0;
}

nav ul li a {
    display: block;
    color: #161A1D;
    padding: 10px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #0B090A;
    text-decoration: underline;
    text-underline-offset: 10px;
}
main {
    background-color: var(--negro); 
    padding-bottom: 150px ;
}

#home {
    height: 93vh;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/home.jpg');
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#verProductos {
    color: #F5F3F4;
    text-decoration: none;
    border: 3px solid var(--crema);
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

#verProductos:hover {
    border: 3px solid var(--rojosuave);
    transition: all .3s ;
    transform: scale(1.03);
}

#info {
    height: 100%;
    color: #FFFFFF; 
}

#info h2 {
    font-weight: 600;
    font-size: 40px;
}


.articleHome {
    height: 100%;
    margin: 150px 0px;
    }

.articleHome:nth-child(3){
    margin: 0px;
}
.articleHome img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}
.articleHome div {
    height: 100%;
}



footer {
    height: 200px;
    background-color: var(--negroclaro);
}

footer>div {
    height: 100%;
}

footer li {
    list-style: none;

}
footer a{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--crema)

}


#divRedes a{
    display: inline-block;
    border: 3px solid var(--crema);
    height: 60px;
    width: 60px;
    padding: 10px;
    background-color: var(--negro);
}

#divRedes a img{
    height: 100%;
    width: 100%;
    filter: invert(100%);
}


#divRedes a:hover {
    border: 3px solid var(--bordo);
    transition: all .5s ;
}

#hamburgerMenu {
    display: none;
}

.articleProd {
    background-color: var(--crema);
    width: 270px;
    height: 280px;
}

.articleProd> figure {
    height: 180px;
    width: 100%;
    background-color: #FFFFFF;
}
.articleProd> figure>img {
    object-fit: cover;
}
.articleProd > div {
    font-weight: 600;
    font-size: 13px;
}

.btnCart {
    width: 100%;
    height: 29px;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: var(--gris);
}

.btnCart:hover {
    transition: all 0.4s;
    background-color: #660708;
}

.btnCart > img {
    height: 20px;
    filter: invert();
}

.stockDispo {
    font-weight: 300;
}

@media (max-width: 768px) {
    
    .articleHome {
        height: 100%;
        margin: 150px 0px;
    }
    footer {
        padding: 15px;
        height: 100%;
        padding-top: 50px;
    }
    #home {
        background-position:center;
    }
    #hamburgerMenu {
        display: inline-block;
        height: 30px;
        width: 30px;

    }
    header {
        padding: 0px;
    }
    .headerFigure{
        padding: 0px !important;
    }
    nav {
        display: none;
    }
    .navActivo {
        display: block;
    }
    .divStock {
        order: 2;
    }
    .figureStock{
        order: 1;
    }
}
